<div class="contentWidth centerVertically m-auto d-flex flex-column align-items-center p-4">
    <h2 i18n class="w-100 text-center">Login</h2>
    <form #f="ngForm" (ngSubmit)="submit()" class="w-100">
        <!-- Email -->
        <div>
            <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label i18n>Email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error i18n *ngIf="email.invalid">Email is invalid</mat-error>
            </mat-form-field>   
        </div>     
    
        <!-- Password -->
        <div>
            <mat-form-field appearance="fill" color="accent" class="w-100 mt-3">
                <mat-label i18n>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error i18n *ngIf="password.invalid">Password is required</mat-error>
            </mat-form-field>
        </div>
        
        <div class="mt-3">
            <button i18n mat-raised-button color="accent" type="submit" [disabled]="!formValid()">Submit</button>
            <button i18n mat-raised-button color="primary" class="mx-3" routerLink="/registration">Registration</button>
        </div>
    
        <!-- Info message - unsuccessful authentication -->
        <mat-card
            i18n 
            *ngIf="f.submitted && successfulAuthentication != undefined && !successfulAuthentication"
            class="bg-color-red mt-3">
            Something went wrong. Authentication unsuccessful. :(
        </mat-card>
    
        <!-- Info message - successful authentication -->
        <mat-card
            i18n 
            *ngIf="f.submitted && successfulAuthentication != undefined && successfulAuthentication"
            class="bg-color-green text-black mt-3">
            Authentication successful. You will be redirected to your profile shortly.
        </mat-card>
    </form>
</div>