<div class="d-flex flex-column rounded px-4 pt-4">
    <div class="d-flex flex-row">
        <h3 
            (click)="visitProfile()"
            class="color-purple bold">
            {{review.reviewingUser?.firstName}} {{review.reviewingUser?.lastName}}
        </h3>
    </div>
    <table class="mb-3 color-black">
        <tbody>
            <tr>
                <td>{{getDateString(review.dateOfCreation)}}</td>
            </tr>
            <tr>
                <td>{{review.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>



