<div class="d-flex flex-column rounded px-4 pt-4 bg-white">
    <div class="d-flex flex-row">
        <h3 
            id="profile"
            routerLink="/profile/view/{{this.authService.getLoggedUserId()}}/{{projectPost.appUser?.idappUser}}" 
            class="color-purple bold">
            {{projectPost.appUser?.firstName}} {{projectPost.appUser?.lastName}}
        </h3>
        <h3 class="color-purple bold mx-4">{{projectPost.title}}</h3>
    </div>
    <table class="mb-3 color-black">
        <tbody>
            <tr>
                <th i18n class="w-25">Active</th>
                <td 
                    [ngClass]="{'color-green bold': projectPost.active == true, 'color-red': projectPost.active == false}">
                    {{projectPost.active == true ? yes : no}}
                </td>
            </tr>
            <tr>
                <th i18n>Category</th>
                <td>{{projectPost.category?.title}}</td>
            </tr>
            <tr>
                <th i18n>Place</th>
                <td>{{projectPost.place}}</td>
            </tr>
            <tr>
                <th i18n>Duration in months</th>
                <td>{{projectPost.durationInMonths}}</td>
            </tr>
            <tr>
                <th i18n>Number of teammates</th>
                <td>{{projectPost.numberOfTeammates}}</td>
            </tr>
            <tr>
                <th i18n>Comment</th>
                <td>{{projectPost.comment}}</td>
            </tr>
            <tr>
                <th i18n>Date of creation</th>
                <td>{{getDateString(projectPost.dateOfCreation)}}</td>
            </tr>
            <tr>
                <th i18n>User email</th>
                <td><a href="mailto:{{projectPost.appUser?.email}}" class="p-0">{{projectPost.appUser?.email}}</a></td>
            </tr>
        </tbody>
    </table>

</div>


