<div class="d-flex flex-column align-items-center rounded p-4 textWhite">
    <h2>Profile</h2>
    <h3>Hello {{user?.firstName}}!</h3>
    <button routerLink="../edit/{{user?.idappUser}}" class="btn btn-dark">Edit profile</button>
    <button routerLink="/create-post/{{user?.idappUser}}" class="btn btn-success mt-3">Create post</button>
</div>
<div class="p-4">
    <mat-tab-group>
        <mat-tab label="Project posts">
            <div *ngFor="let post of projectPosts" class="mt-3">
                <div class="bg-light">
                    <app-project-post [projectPost]="post"></app-project-post>
                    <button routerLink="../{{user?.idappUser}}/project-posts/{{post.idprojectPost}}/edit" class="btn btn-primary m-4">Edit</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Service posts">
            <!-- <div *ngFor="let post of servicePosts" class="mt-3">
                
            </div>  -->
        </mat-tab>
    </mat-tab-group>
</div>