<div class="d-flex flex-column align-items-center rounded p-4">
    <h2 i18n>Profile</h2>
    <h3>{{viewedUser?.firstName}} {{viewedUser?.lastName}}</h3>
    <a href="mailto:{{viewedUser?.email}}">{{viewedUser?.email}}</a>
    <div class="d-flex flex-column flex-md-row mt-2">
        <button 
            i18n 
            mat-raised-button 
            color="primary" 
            routerLink="/review/{{this.authService.getLoggedUserId()}}/{{viewedUser?.idappUser}}" 
            class="mx-2 my-2">
                Review
        </button>
        <button 
            i18n
            mat-raised-button
            routerLink="/report/{{this.authService.getLoggedUserId()}}/{{viewedUser?.idappUser}}"
            class="mx-2 my-2 bg-yellow color-black">
                Report
        </button>
        <button 
            *ngIf="authService.userLoggedIn() && viewingUser != undefined && viewingUser.userLevelId === adminUserLevelId"
            i18n 
            mat-raised-button  
            color="warn"
            routerLink="/create-suspension/{{this.authService.getLoggedUserId()}}/{{viewedUser?.idappUser}}" 
            class="mx-2 my-2">
                Suspend
        </button>
    </div>
</div>
<div class="p-4">
    <mat-tab-group>
        <mat-tab i18n-label label="Project posts">
            <div *ngFor="let post of projectPosts" class="mt-3">
                <div>
                    <app-project-post [projectPost]="post"></app-project-post>
                </div>
            </div>
        </mat-tab>
        <mat-tab i18n-label label="Service posts">

        </mat-tab>
        <mat-tab i18n-label label="Reviews">
            <div *ngFor="let review of reviews" class="mt-3">
                <div>
                    <app-review [review]="review"></app-review>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
