<div class="contentWidth centerVertically m-auto d-flex flex-column align-items-center rounded p-4 bg-light">
    <h2 class="w-100 text-center border-bottom">Profile edit</h2>
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="submit()" class="w-100">
        <!-- Email -->
        <div class="form-floating">
            <input 
                id="email" 
                name="email" 
                formControlName="email" 
                type="email" 
                class="form-control"
                readonly>
            <label for="email">Email</label>
        </div>
        
        <!-- First name -->
        <div class="form-floating mt-3">
            <input 
                id="firstName" 
                name="firstName" 
                formControlName="firstName" 
                type="text" 
                class="form-control"
                [ngClass]="{'border border-danger': formValidationService.fieldInvalid(form, 'firstName')}"
                autofocus>
            <label for="firstName">First name</label>
        </div>
        <div 
            *ngIf="formValidationService.fieldInvalidAndHasError(form, 'firstName', 'required')" 
            class="mt-1 text-danger">
                First name is required.
        </div>
    
        <!-- Last name -->
        <div class="form-floating mt-3">
            <input 
                id="lastName" 
                name="lastName" 
                formControlName="lastName" 
                type="text" 
                class="form-control"
                [ngClass]="{'border border-danger': formValidationService.fieldInvalid(form, 'lastName')}">
            <label for="lastName">Last name</label>
        </div>
        <div 
            *ngIf="formValidationService.fieldInvalidAndHasError(form, 'lastName', 'required')" 
            class="mt-1 text-danger">
                Last name is required.
        </div>
    
        <div class="d-flex flex-row align-items-center mt-3">
            <!-- Submit button -->
            <button 
                type="submit"
                class="btn btn-dark" 
                [disabled]="!form.valid || !formValuesChanged">
                    Submit
            </button>
            <!-- Change password button -->
            <button 
                type="button"
                class="btn btn-primary mx-3"
                (click)="changePassword()" >
                Change password
            </button>
            <!-- Delete profile button -->
            <button 
                type="button"
                class="btn btn-danger"
                (click)="openDeleteProfileDialog()">
                Delete profile
            </button>
        </div>

        <button 
            type="button" 
            class="btn btn-warning mt-3" 
            (click)="goBack()">
                Go back
        </button>
    
        <!-- Info message - unsuccessful update -->
        <div *ngIf="f.submitted && successfulUpdate != undefined && !successfulUpdate" class="alert alert-danger mt-3" role="alert">
            Something went wrong. Update unsuccessful. :(
        </div>
    
        <!-- Info message - successful update -->
        <div *ngIf="f.submitted && successfulUpdate != undefined && successfulUpdate" class="alert alert-success mt-3" role="alert">
            Update successful. You will be redirected to your profile shortly.
        </div>

        <!-- Info message - unsuccessful profile deletion -->
        <div *ngIf="f.submitted && successfulDeletion != undefined && !successfulDeletion" class="alert alert-danger mt-3" role="alert">
            Something went wrong. Profile deletion unsuccessful. :(
            </div>
                    
        <!-- Info message - successful profile deletion -->
        <div *ngIf="f.submitted && successfulDeletion != undefined && successfulDeletion" class="alert alert-success mt-3" role="alert">
            Profile deleted. You will be redirected to registration page shortly.
        </div>
    </form>
</div>