<div class="contentWidth centerVertically m-auto d-flex flex-column align-items-center p-4">
    <h2 class="w-100 text-center">Edit profile</h2>
    <form #f="ngForm" (ngSubmit)="submit()" class="w-100">
        <!-- Email -->
        <div>
            <mat-form-field appearance="fill" color="accent" class="w-100 mt-3">
                <mat-label>Email</mat-label>
                <input matInput placeholder="john.doe@example.com" [formControl]="email" readonly>
            </mat-form-field>
        </div>
        <!-- First name -->
        <div>
            <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label>First name</mat-label>
                <input matInput placeholder="John" [formControl]="firstName" required>
                <mat-error *ngIf="firstName.invalid">First name is required</mat-error>
            </mat-form-field>   
        </div> 
        <!-- Last name -->
        <div>
            <mat-form-field appearance="fill" color="accent" class="w-100 mt-3">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Doe" [formControl]="lastName" required>
                <mat-error *ngIf="lastName.invalid">Last name is required</mat-error>
            </mat-form-field>   
        </div>      
        
        <div class="mt-3">
            <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid || !formValuesChanged">Submit</button>
            <button mat-raised-button color="primary" type="button" class="mx-3" (click)="changePassword()">Change password</button>
            <button mat-raised-button color="warn" type="button" (click)="openDeleteProfileDialog()">Delete profile</button>
        </div>
    
        <button mat-raised-button (click)="goBack()" class="mt-3">Go back</button>

        <!-- Info message - unsuccessful update -->
        <mat-card 
            *ngIf="f.submitted && successfulUpdate != undefined && !successfulUpdate"
            class="bg-color-red mt-3">
            Something went wrong. Update unsuccessful. :(
        </mat-card>
    
        <!-- Info message - successful update -->
        <mat-card 
            *ngIf="f.submitted && successfulUpdate != undefined && successfulUpdate"
            class="bg-color-green text-black mt-3">
            Update successful. You will be redirected to your profile shortly.
        </mat-card>

        <!-- Info message - unsuccessful deletion -->
        <mat-card 
            *ngIf="f.submitted && successfulDeletion != undefined && !successfulDeletion"
            class="bg-color-red mt-3">
            Something went wrong. Deletion unsuccessful. :(
        </mat-card>

        <!-- Info message - successful deletion -->
        <mat-card 
            *ngIf="f.submitted && successfulDeletion != undefined && successfulDeletion"
            class="bg-color-green text-black mt-3">
            Deletion successful. You will be redirected to your profile shortly.
        </mat-card>
    </form>
</div>

