<div class="contentWidth m-auto d-flex flex-column align-items-center rounded py-4">
    <h2 class="w-100 text-center">Write a review for {{reviewedUser?.firstName}}</h2>
    <mat-stepper linear [orientation]="(stepperOrientation | async)!" class="w-100">
        <!-- Step - Comment-->
        <mat-step [stepControl]="comment" label="Review">
            <form #f="ngForm" [formGroup]="comment">
                <div>
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label>Comment</mat-label>
                        <textarea matInput formControlName="commentCtrl" placeholder="" required></textarea>
                    </mat-form-field>
                </div>
                <!-- Submit button -->
                <div class="mt-3">
                    <button 
                        type="submit"
                        mat-raised-button color="primary"
                        [disabled]="!allControlsValid()"
                        (click)="submit()">
                        Submit
                    </button>
                </div>
                <!-- Info message - unsuccessful review creation -->
                <mat-card 
                    *ngIf="f.submitted && successfulReviewCreation != undefined && !successfulReviewCreation"
                    class="bg-color-red mt-3">
                    Something went wrong. Review was not created. :(
                </mat-card>
            
                <!-- Info message - successful review creation -->
                <mat-card 
                    *ngIf="f.submitted && successfulReviewCreation != undefined && successfulReviewCreation"
                    class="bg-color-green text-black mt-3">
                    Review was successfully created. You will be redirected back shortly.
                </mat-card>
            </form>
        </mat-step>
        <!-- Step - details -->
    </mat-stepper>
    <div>
        <button 
        mat-raised-button 
        class="mt-3"
        (click)="goBack()">
            Go back
        </button>
    </div>
</div>
