<div class="contentWidth m-auto d-flex flex-column align-items-center rounded py-4">
    <h2 i18n class="w-100 text-center">Report {{reportedUser?.firstName}}</h2>
    <mat-stepper linear [orientation]="(stepperOrientation | async)!" class="w-100">
        <!-- Step - report reason -->
        <mat-step [stepControl]="reportReason" i18n-label label="Report reason">
            <form #f="ngForm" [formGroup]="reportReason" class="mt-3">
                <!-- Report reason -->
                <div class="mb-3">
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Report reason</mat-label>
                        <mat-select formControlName="reportReasonCtrl" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let reason of reportReasons" [value]="reason">
                                {{reason.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Submit button -->
                <div class="mt-3">
                    <button 
                        i18n
                        type="submit"
                        mat-raised-button color="primary"
                        [disabled]="!allControlsValid()"
                        (click)="submit()">
                        Submit
                    </button>
                </div>

                <!-- Info message - unsuccessful report creation -->
                <mat-card
                    i18n 
                    *ngIf="f.submitted && successfulReportCreation != undefined && !successfulReportCreation"
                    class="bg-color-red mt-3">
                    Something went wrong. User was not reported. :(
                </mat-card>
            
                <!-- Info message - successful report creation -->
                <mat-card
                    i18n 
                    *ngIf="f.submitted && successfulReportCreation != undefined && successfulReportCreation"
                    class="bg-color-green text-black mt-3">
                    User successfully reported. You will be redirected back shortly.
                </mat-card>
            </form>
        </mat-step>
    </mat-stepper>
    <div>
        <button 
            mat-raised-button 
            class="mt-3"
            (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</div>

