<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side" class="nav-width p-3">
        <h3 class="w-100 mt-3 text-center color-purple bold">{{title}}</h3>
        <ul>
            <li 
                #posts 
                (click)="onSelect(posts)" 
                routerLink="/posts" 
                class="my-2">
                <mat-icon>dashboard</mat-icon>
                <div i18n class="mx-3 w-100">Posts</div>
            </li>
            <li 
                *ngIf="!authService.userLoggedIn()" 
                #registration 
                (click)="onSelect(registration)" 
                routerLink="/registration" 
                class="my-2">
                <mat-icon>note_add</mat-icon>
                <div i18n class="mx-3 w-100">Registration</div>
            </li>
            <li 
                *ngIf="!authService.userLoggedIn()" 
                #login 
                (click)="onSelect(login)" 
                routerLink="/login" 
                class="my-2">
                <mat-icon>account_circle</mat-icon>
                <div i18n class="mx-3 w-100">Log in</div>
            </li>
            <li 
                *ngIf="authService.userLoggedIn()" 
                #profile 
                (click)="onSelect(profile)" 
                routerLink="/profile/{{authService.getLoggedUserId()}}" 
                class="my-2">
                <mat-icon>account_circle</mat-icon>
                <div i18n class="mx-3 w-100">Profile</div>
            </li>
            <li 
                *ngIf="authService.userLoggedIn() && user != undefined && user.userLevelId === adminUserLevelId"
                #reports
                (click)="onSelect(reports)" 
                routerLink="/reports/{{authService.getLoggedUserId()}}" 
                class="my-2">
                <mat-icon>report</mat-icon>
                <div i18n class="mx-3 w-100">Reports</div>
            </li>
            <li 
                *ngIf="authService.userLoggedIn() && user != undefined && user.userLevelId === adminUserLevelId"
                #suspensions
                (click)="onSelect(suspensions)" 
                routerLink="/suspensions/{{authService.getLoggedUserId()}}" 
                class="my-2">
                <mat-icon>block</mat-icon>
                <div i18n class="mx-3 w-100">Suspensions</div>
            </li>
            <li 
                *ngIf="authService.userLoggedIn()" 
                #logout 
                (click)="openLogoutDialog()"
                class="my-2">
                <mat-icon>exit_to_app</mat-icon>
                <div i18n mat-button class="mx-3 w-100">Log out</div>
            </li>
        </ul>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>  


