<div class="contentWidth m-auto d-flex flex-column align-items-center rounded py-4">
    <h2 i18n class="w-100 text-center">Edit post</h2>
    <mat-stepper linear [orientation]="(stepperOrientation | async)!" class="w-100">
        <!-- Step - details -->
        <mat-step [stepControl]="details" i18n-label label="Details">
            <form #f="ngForm" [formGroup]="details" class="mt-3">
                <!-- Category -->
                <div class="mb-3">
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Category</mat-label>
                        <mat-select formControlName="categoryCtrl" required ngDefaultControl>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category.idcategory">
                                {{category.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Title   -->
                <div>
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Title</mat-label>
                        <input matInput formControlName="titleCtrl" placeholder="" required>
                    </mat-form-field>
                </div>
                <!-- Comment   -->
                <div>
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Comment</mat-label>
                        <textarea matInput formControlName="commentCtrl" placeholder="" required></textarea>
                    </mat-form-field>
                </div>
                <!-- Place   -->
                <div>
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Place</mat-label>
                        <input matInput formControlName="placeCtrl" placeholder="Zagreb, Croatia" required>
                    </mat-form-field>
                </div>
                <!-- Duration   -->
                <div>
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Duration in months</mat-label>
                        <input matInput type="number" formControlName="durationCtrl" placeholder="3" required>
                    </mat-form-field>
                </div>
                <!-- Number of teammates   -->
                <div>
                    <mat-form-field color="accent" appearance="fill" class="w-100">
                        <mat-label i18n>Number of teammates</mat-label>
                        <input matInput type="number" formControlName="numOfTeammatesCtrl" placeholder="3" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-checkbox i18n formControlName="activeCtrl" class="w-100" ngDefaultControl>Active</mat-checkbox>
                </div>
                <!-- Submit button -->
                <!-- Previous and next buttons -->
                <div class="mt-3">
                    <button 
                        i18n
                        type="submit"
                        mat-raised-button color="primary"
                        [disabled]="!allDetailsControlsValid() || !formValuesChanged"
                        (click)="submit()">
                        Submit
                    </button>
                    <button 
                        type="button"
                        mat-raised-button color="warn"
                        class="mx-3"
                        (click)="openDeletePostDialog()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <!-- Info message - unsuccessful post edit -->
                <mat-card 
                    i18n 
                    *ngIf="f.submitted && successfulPostEdit != undefined && !successfulPostEdit"
                    class="bg-color-red mt-3">
                    Something went wrong. Post was not edited. :(
                </mat-card>

                <!-- Info message - successful post edit -->
                <mat-card 
                    i18n
                    *ngIf="f.submitted && successfulPostEdit != undefined && successfulPostEdit"
                    class="bg-color-green text-black mt-3">
                    Post was successfully edited. You will be redirected to your profile shortly.
                </mat-card>

                <!-- Info message - unsuccessful post deletion -->
                <mat-card 
                    i18n    
                    *ngIf="f.submitted && successfulPostDeletion != undefined && !successfulPostDeletion"
                    class="bg-color-red mt-3">
                    Something went wrong. Post was not deleted. :(
                </mat-card>

                <!-- Info message - successful post deletion -->
                <mat-card 
                    i18n
                    *ngIf="f.submitted && successfulPostDeletion != undefined && successfulPostDeletion"
                    class="bg-color-green text-black mt-3">
                    Post was successfully deleted. You will be redirected to your profile shortly.
                </mat-card>
            </form>
        </mat-step>
    </mat-stepper>
    <div>
        <button 
            mat-raised-button 
            class="mt-3"
            (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</div>
